<h1 *ngIf="authService.user | async">Task Manager</h1>
<h1 *ngIf="!(authService.user | async)">Task Viewer</h1>
<h2 style="color: blue"> For class {{classKey}}</h2>
<form class="example-form" *ngIf="authService.user | async">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Add new task" [(ngModel)]="taskName" name="taskName" required>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addTask()">Add Task</button>
</form>
<h3>In order to delete a task or an item, hover on its name</h3>
<div>
  <mat-list>
    <task *ngFor="let task of tasks" [data]="task" (myButtonClick)="showText($event)"></task>
  </mat-list>
</div>