.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 55%;
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.error{
    color: red;
  }

.cen {
    text-align: center;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
  margin-left: 50%;
}

.arial {
  font-family: "Arial";
}