<div class="cen">
  <h1>Welcome to TeacherApp!</h1>
  <!-- <button mat-raised-button color="primary" (click)="teacher()">Teacher</button>
  <br>Didn't register yet? <a routerLink="/register">Click here</a>
  <p></p>
  <button mat-raised-button color="primary" (click)="student()">Student</button>
</div> -->

  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="whoami">
    <mat-radio-button class="example-radio-button" *ngFor="let type of types" [value]="type">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>

  <form class="example-form" class="cen">
    <mat-form-field class="example-full-width" *ngIf="whoami=='Student'">
      <input matInput placeholder="Enter class code" value="Enter code" [(ngModel)]="code" name="code" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="whoami=='Student'">
      <input matInput placeholder="Enter your name" value="Enter name" [(ngModel)]="name" name="name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="whoami=='Teacher'">
      <input matInput placeholder="Enter your Email" [formControl]="email" [(ngModel)]="email1" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="whoami=='Teacher'">
      <input matInput placeholder="Password" [(ngModel)]="password" name="password" required>
    </mat-form-field>

    <div *ngIf="whoami=='Teacher'" class="arial">Haven't registered yet? <a routerLink="/register">Click here</a></div>
    <br>

    <button mat-raised-button color="primary" (click)="login()"
      *ngIf="whoami=='Teacher'||whoami=='Student'">login</button>
  </form>
  <br>
  <div class="error">
    {{errM}}
  </div>