<mat-card class="example-card">
  <mat-card-content>
    <button *ngIf="!(authService.user | async)" (click)="toLogin()">
      Home
    </button>
    <button *ngIf="!(authService.user | async)" (click)="toRegister()">
      Register
    </button>
    <button (click)="toTasks()">
      Tasks
    </button>
    <button *ngIf="authService.user | async" (click)="toLogout()">
      Log out
    </button>


  </mat-card-content>
</mat-card>