<mat-list-item (mouseleave) = "notOver()"
(mouseenter) = "over()">
<span>
   
  <mat-checkbox [(ngModel)]="checked" *ngIf= "!showEditItemFields" (click)="checkValue(checked)"> {{name}} {{studentName}}</mat-checkbox> 

<span *ngIf ="authService.user | async">
<!--edit item name-->
  <mat-form-field *ngIf= "showEditItemFields">
      <input matInput  [(ngModel)]="newItemName">
  </mat-form-field>
<!--save or cancel the changing in item name-->
<button mat-raised-button *ngIf= "showEditItemFields" (click)="saveEditItem()">Save</button>
<button mat-raised-button *ngIf= "showEditItemFields" (click)="cancelEditItem()">Cancel</button>




<button mat-raised-button (click) = "showEditItemDef()" *ngIf= "!showEditItemFields && showAddItemButton">
    Edit
</button>



  <button mat-raised-button (click) = "deleteItem()" *ngIf = "showAddItemButton && !showEditItemFields && authService.user | async">
    Delete
</button>
</span>
</span>
</mat-list-item>
