<mat-list-item (mouseleave)="notOver()" (mouseenter)="over()">
  <!-- <mat-checkbox [(ngModel)]="checked" (click)="changeStock()"></mat-checkbox>-->
  <h3>{{name}} </h3>

  <div *ngIf="authService.user | async">



    <!--edit task name-->
    <button mat-raised-button (click)="showEditItemDef()" *ngIf="showAddDeleteTaskButtons && !showEditTaskFields">
      Add item to task
    </button>
    <button mat-raised-button (click)="showEditTaskDef()" *ngIf="showAddDeleteTaskButtons && !showEditTaskFields">
      Edit task
    </button>
    <button mat-raised-button (click)="deleteTask()" *ngIf="showAddDeleteTaskButtons && !showEditTaskFields">
      Delete task
    </button>



    <!--adding new task-->
    <mat-form-field *ngIf="showEditTaskFields">
      <input matInput [(ngModel)]="newTaskName">
    </mat-form-field>

    <button mat-raised-button *ngIf="showEditTaskFields" (click)="saveEditTask()">Save</button>
    <button mat-raised-button *ngIf="showEditTaskFields" (click)="cancelEditTask()">Cancel</button>




  </div>
</mat-list-item>

<form class="example-form" *ngIf="showAddItemFields">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Item Name" [(ngModel)]="itemName" name="itemName" required>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="saveAddItem()">Add</button>
  <button mat-raised-button (click)="cancelAddItem()">Cancel</button>

</form>

<div (mouseenter)="setTaskCode()">
  <mat-list>
    <item *ngFor="let item of items" [data1]="item" (myButtonClick)="showText($event)"></item>
  </mat-list>
</div>