<div class="cen">
  <h1>Welcome to TeacherApp!</h1>
  <button mat-raised-button color="primary">Teacher</button>
  <br>Didn't register yet? <a routerLink="/register">Click here</a>
  <p></p>
  <button mat-raised-button color="primary">Student</button>
</div>
