<header>
  <h1>Register</h1> 
</header>
<br>
<form class="example-form">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter Name" value="Enter Name" [(ngModel)]="name" name="name" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]= "email1"  required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
<!-- 
  <mat-radio-group
    aria-labelledby="example-radio-group-label" class="example-radio-group">
    <mat-radio-button class="example-radio-button" [value]="student" [checked] = "checkType()" [(ngModel)]="usertype">Student</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="teacher" [checked] = "checkType()" [(ngModel)]="usertype">Teacher</mat-radio-button>
  </mat-radio-group> -->
  <!-- <input type="radio" name="options" [(ngModel)]="usertype" value="student" [checked]= "checkType()"> Student
    <br>
  <input type="radio" name="options" [(ngModel)]="usertype" value="teacher" [checked]= "checkType()"> Teacher
    <br> -->
<!-- 
  <mat-form-field *ngIf="studentChecked" class="example-full-width">
    <input matInput placeholder="Enter class code" value="Enter code" [(ngModel)]="code" name="code" required>
  </mat-form-field> -->

  <button mat-raised-button color="primary" (click)= "signUp()">Register</button>
</form>

<div class="error">
  {{errM}}
</div>
